<footer>
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<!--=== <div class="col-md-6 col-xs-12">
                   <ul class="social-media">
                     <li><a href="#" class="icofont icofont-linkedin"></a></li>
                     <li><a href="#" class="icofont icofont-facebook"></a></li>
                     <li><a href="#" class="icofont icofont-twitter"></a></li>
                     <li><a href="#" class="icofont icofont-pinterest"></a></li>
                     <li><a href="#" class="icofont icofont-instagram"></a></li>
                   </ul>
                 </div> ======-->

				<div class="col-md-6 col-xs-12">
					<div class="copy-right text-right">© All rights reserved</div>
				</div>
			</div>
		</div>
	</div>
</footer>