<!--=== Loader Start ======-->
<div id="loader-overlay">
    <div class="loader-wrapper">
        <div class="arcon-pulse"></div>
    </div>
</div>
<!--=== Loader End ======-->

<!--=== Wrapper Start ======-->
<div class="wrapper">

    <!--=== Header Start ======-->
    <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
        <div class="container">
            <!--=== Start Atribute Navigation ===-->
            <div class="attr-nav">
                <ul class="social-media-dark social-top">
                    <li><a href="#" class="icofont icofont-facebook"></a></li>
                    <li><a href="#" class="icofont icofont-twitter"></a></li>
                    <li><a href="#" class="icofont icofont-linkedin"></a></li>
                </ul>
            </div>
            <!--=== End Atribute Navigation ===-->
            <!--=== Start Header Navigation ===-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="icofont icofont-navigation-menu"></i> </button>
                <div class="logo"> <a href="./"> <img class="logo logo-display" src="assets/images/logo-white.png" alt=""> <img class="logo logo-scrolled" src="assets/images/logo-black.png" alt=""> </a> </div>
            </div>
            <!--=== End Header Navigation ===-->
            <!--=== Collect the nav links, forms, and other content for toggling ===-->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
                    <li class="dropdown megamenu-fw"> <a href="/" >Home</a></li>
                    <li class="dropdown"> <a href="pricing"  >Pricing</a></li>
                    <li class="dropdown"> <a href="about" >About us</a></li>
                    <li class="dropdown"><a href="contact" >Contact Us</a></li></li>
                </ul>
            </div>
            <!--=== /.navbar-collapse ===-->
        </div>
    </nav>
    <!--=== Header End ======-->