{% extends 'homebase.html.twig' %}
{% block body %}

	<!--== Hero Slider Start ==-->
	<section class="remove-padding transition-none">
		<div id="rev_slider_landing_custom_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background: radial-gradient( circle 848px at 3.8% 67.2%,  rgba(44,45,45,1) 0%, rgba(16,20,18,1) 90.1% );padding:0px;margin-top:0px;margin-bottom:0px;">
			<!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
			<div id="rev_slider_landing_custom" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
				<ul>
					<!-- SLIDE  -->
					<li data-index="rs-3046" data-transition="fadethroughdark" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="1500"  data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="Parallax" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
						<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-1"
							 id="slide-3046-layer-1"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['-130','50','0','0']"
							 data-fontsize="['100','50','50','25']"
							 data-lineheight="['180','100','120','50']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[10,10,10,10]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[10,10,10,10]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 8; white-space: nowrap;font-family: 'Josefin Sans', sans-serif;font-weight:400;letter-spacing:2px;color:#fff;"><span class="gradient-color">BiSignage</span></div>

						<!-- LAYER NR. 2 -->
						<div class="tp-caption NotGeneric-Title tp-resizeme rs-parallaxlevel-2"
							 id="slide-3046-layer-2"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
							 data-fontsize="['60','50','50','25']"
							 data-lineheight="['140','100','120','50']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[10,10,10,10]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[10,10,10,10]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 8; white-space: nowrap;font-family: 'Josefin Sans', sans-serif;font-weight:300;letter-spacing:2px;color:#fff;">Smart Billboard Display</div>

						<!-- LAYER NR. 3 -->
						<div class="tp-caption NotGeneric-SubTitle tp-resizeme rs-parallaxlevel-3"
							 id="slide-3046-layer-3"
							 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['80','122','70','50']"
							 data-fontsize="['40','30','20','16']"
							 data-lineheight="['40','30','20','16']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="text"
							 data-responsive_offset="on"
							 data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 9; white-space: nowrap;font-family: 'Josefin Sans', sans-serif;font-weight:300;color:#fff;text-transform:uppercase;">For Innovative Ideas</div>

						<!-- LAYER NR. 4 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-4"
							 id="slide-3046-layer-4"
							 data-x="['left','left','left','left']" data-hoffset="['-400','0','0','0']"
							 data-y="['middle','middle','middle','middle']" data-voffset="['-250','-350','-250','-150']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="image"
							 data-responsive_offset="on"
							 data-frames='[{"from":"opacity:0;","speed":100,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":100,"to":"opacity:0;","ease":"nothing"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 14;border-width:0px;">
							<div class="rs-looped"  data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%"><img src="assets/images/memphis-1.png" alt="" data-ww="['440px','320px','200px','120px']" data-hh="['476px','346px','216px','130px']" width="440" height="476" data-no-retina> </div></div>

						<!-- LAYER NR. 5 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-5"
							 id="slide-3046-layer-5"
							 data-x="['right','right','right','right']" data-hoffset="['-500','0','0','0']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-100','250','100','100']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="image"
							 data-responsive_offset="on"
							 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
							 data-textAlign="['right','right','right','right']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 14;border-width:0px;">
							<div class="rs-looped"  data-speed="4" data-angle="0" data-radius="10" data-origin="50% 50%"><img src="assets/images/memphis-2.png" alt="" data-ww="['804px','110px','110px','120px']" data-hh="['700px','126px','126px','128px']" width="298" height="342" data-no-retina> </div></div>

						<!-- LAYER NR. 6 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-6"
							 id="slide-3046-layer-6"
							 data-x="['left','left','left','left']" data-hoffset="['719','719','719','719']"
							 data-y="['top','top','top','top']" data-voffset="['200','200','200','200']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="image"
							 data-responsive_offset="on"
							 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 13;border-width:0px;">
							<div class="rs-looped rs-rotate"  data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%"><img src="assets/images/memphis-3.png" alt="" data-ww="['50px','50px','50px','50px']" data-hh="['51px','51px','51px','51px']" width="50" height="51" data-no-retina> </div></div>

						<!-- LAYER NR. 6 -->
						<div class="tp-caption tp-resizeme rs-parallaxlevel-7"
							 id="slide-3046-layer-7"
							 data-x="['left','left','left','left']" data-hoffset="['-250','719','719','719']"
							 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['300','200','200','200']"
							 data-width="none"
							 data-height="none"
							 data-whitespace="nowrap"
							 data-type="image"
							 data-responsive_offset="on"
							 data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":2000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]'
							 data-textAlign="['left','left','left','left']"
							 data-paddingtop="[0,0,0,0]"
							 data-paddingright="[0,0,0,0]"
							 data-paddingbottom="[0,0,0,0]"
							 data-paddingleft="[0,0,0,0]"
							 style="z-index: 16;border-width:0px;">
							<div class="rs-looped"  data-easing="Power2.easeInOut" data-startdeg="-20" data-enddeg="360" data-speed="20" data-origin="50% 50%"><img src="assets/images/memphis-4.png" alt="" data-ww="['100px','100px','100px','100px']" data-hh="['100px','100px','100px','100px']" width="100" height="100" data-no-retina> </div></div>

					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--== Hero Slider End ==-->

	<!--=== Who We Are Start ======-->
	<section class="first-ico-box white-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="section-heading text-left">
						<h4 class="text-uppercase wow fadeLeft josefin-font" data-wow-delay="0.2s">Our Features</h4>
						<h2 class="wow fadeLeft josefin-font font-600" data-wow-delay="0.1s">Smart & Responsive</h2>
					</div>
					<div class="panel-group accordion-style-01" id="accordion-style">
						<div class="panel">
							<div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question1" aria-expanded="false" class="collapsed">
									<div class="panel-title">Full Control <span class="pull-right"><i class="ion-android-remove"></i></span> </div>
								</a> </div>
							<div id="question1" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
								<div class="panel-body"> We Provide User Panel For Full Control </div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question2" aria-expanded="false" class="collapsed">
									<div class="panel-title"> Smart <span class="pull-right"><i class="ion-android-add"></i></span> </div>
								</a> </div>
							<div id="question2" class="panel-collapse collapse" aria-expanded="false" role="tablist">
								<div class="panel-body"> We Provide Smart Advertising Solution That Interract With The Current Situation. </div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question3" aria-expanded="false" class="collapsed">
									<div class="panel-title"> Responsive <span class="pull-right"><i class="ion-android-add"></i></span> </div>
								</a> </div>
							<div id="question3" class="panel-collapse collapse" aria-expanded="false" role="tablist">
								<div class="panel-body"> We Accept Message & Video ads. Our System Will Interract With The Type Of Ad You Provide </div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-heading"> <a data-toggle="collapse" data-parent="#accordion-style" href="#question4" aria-expanded="false" class="collapsed">
									<div class="panel-title"> Good Pricing <span class="pull-right"><i class="ion-android-add"></i></span> </div>
								</a> </div>
							<div id="question4" class="panel-collapse collapse" aria-expanded="false" role="tablist">
								<div class="panel-body"> Pay As You Go No Need For Extra Billing And Money loses. </div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="single-img">
						<img class="img-responsive" src="assets/images/single-img.png" alt="team-img" />
					</div>
				</div>
			</div>

		</div>
	</section>
	<!--=== Who We Are End ======-->

	<!--=== Our Team Start ======-->
	<section class="white-bg pt-0 team-page-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 section-heading">
					<h2 class="wow fadeTop josefin-font" data-wow-delay="0.1s">Meet Our Team</h2>
				</div>
			</div>
			<div class="row mt-50">
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/dhia.benmaati"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="image">
							<a href="#"><img src="assets/images/team/team-01.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Dhia Ben maati</a></h3>
							<div class="designation">UI/UX Designer</div>
						</div>
					</div>
				</div>

				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/ABdeSSaLem.Nour/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="image">
							<a href="#"><img src="assets/images/team/team-02.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Abdessalem Ennour</a></h3>
							<div class="designation">Photographer</div>
						</div>
					</div>
				</div>
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/yassine.bouchiba.58"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="image">
							<a href="#"><img src="assets/images/team/team-02.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Yassin Bouchiba</a></h3>
							<div class="designation">Photographer</div>
						</div>
					</div>
				</div>
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/anas.wahada.946"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="image">
							<a href="#"><img src="assets/images/team/team-02.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Anas Wahada</a></h3>
							<div class="designation">Photographer</div>
						</div>
					</div>
				</div>
				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/mouna.youssef.739"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="image">
							<a href="#"><img src="assets/images/team/team-02.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Mouna Youssef</a></h3>
							<div class="designation">Photographer</div>
						</div>
					</div>
				</div>

				<!-- Team Block -->
				<div class="team-block col-lg-4 col-md-4 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<ul class="social-icons">
							<li><a href="https://www.facebook.com/hamza.fezai"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-skype"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
						<div class="image">
							<a href="#"><img src="assets/images/team/team-03.jpg" alt="" /></a>
						</div>
						<div class="lower-content">
							<h3><a href="#">Hamza Fezai</a></h3>
							<div class="designation">Web Developer</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--=== Our Team End ======-->

	<!--=== Who We Are Start ===-->
	<section class="first-ico-box dark-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<div class="section-heading text-left">
						<h2 class="wow fadeTop gradient-color josefin-font" data-wow-delay="0.1s">Don't wait just launch your ads now! 	&nbsp;	&nbsp;	&nbsp;	&nbsp; Contact our team for more details.</h2>
					</div>
				</div>
			</div>
			<div class="row mt-50">
				<div class="col-md-3 feature-box text-left radius-icon wow fadeTop" data-wow-delay="0.1s"> <i class="icofont icofont-ui-theme font-50px gradient-color"></i>
					<h4 class="text-uppercase white-color josefin-font">Branding</h4>
					<p>We Create Big Brands With Big Names.</p>
				</div>
				<div class="col-md-3 feature-box text-left radius-icon wow fadeTop" data-wow-delay="0.2s"> <i class="icofont icofont-responsive font-50px gradient-color"></i>
					<h4 class="text-uppercase white-color josefin-font">Control Panel</h4>
					<p>Take Control Of Your Ads.</p>
				</div>
				<div class="col-md-3 feature-box text-left radius-icon wow fadeTop" data-wow-delay="0.3s"> <i class="icofont icofont-zigzag font-50px gradient-color"></i>
					<h4 class="text-uppercase white-color josefin-font">Marketing</h4>
					<p>Best Smart Marketing Strategy.</p>
				</div>
				<div class="col-md-3 feature-box text-left radius-icon wow fadeTop" data-wow-delay="0.3s"> <i class="icofont icofont-contrast font-50px gradient-color"></i>
					<h4 class="text-uppercase white-color josefin-font">Full Support</h4>
					<p>Video And Message Support.</p>
				</div>
			</div>
		</div>
	</section>
	<!--=== Who We Are End ===-->

	<!--=== Counter Start ======-->
	<section class="white-bg pt-80 pb-80">
		<div class="container">
			<div class="row">
				<div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.1s">
					<h2 class="count font-700 gradient-color josefin-font">5600</h2>
					<h3 class="dark-color josefin-font">Working Hours</h3>
				</div>
				<div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.2s">
					<h2 class="count font-700 gradient-color josefin-font">220</h2>
					<h3 class="dark-color josefin-font">Happy Clients</h3>
				</div>
				<div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.3s">
					<h2 class="count font-700 gradient-color josefin-font">108</h2>
					<h3 class="dark-color josefin-font">Awwwards</h3>
				</div>
				<div class="col-md-3 counter text-center col-sm-6 wow fadeTop" data-wow-delay="0.4s">
					<h2 class="count font-700 gradient-color josefin-font">650</h2>
					<h3 class="dark-color josefin-font">Cups Of Teas</h3>
				</div>
			</div>
		</div>
	</section>
	<!--=== Counter End ======-->

{% endblock %}