{% extends 'homebase.html.twig' %}
{% block body %}
	<!--=== page-title-section start ===-->
	<section class="title-hero-bg widget-cover-bg" data-stellar-background-ratio="0.2">
		<div class="container">
			<div class="page-title text-center">
				<h1>Pricing Tables</h1>
			</div>
		</div>
	</section>
	<!--=== page-title-section end ===-->
	<!--=== Pricing Start ======-->
	<section>
		<div class="container">
			<div class="row mt-50">
				<div class="col-md-3 pricing-table col-sm-6">
					<div class="pricing-box">
						<h4>Started</h4>
						<h2><sup>DT</sup><span>2.2</span></h2>
						<ul>
							<li>Message</li>
							<li>Preset Time</li>
							<li>1 advertising</li>
							<li>1Min </li>
						</ul>
						<div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Start Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
					</div>
				</div>
				<div class="col-md-3 pricing-table col-sm-6">
					<div class="pricing-box">
						<h4>Basic</h4>
						<h2><sup>DT</sup><span>5.2</span></h2>
						<ul>
							<li>Video</li>
							<li>Preset Time</li>
							<li>1 advertising</li>
							<li>1Min </li>
						</ul>
						<div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Start Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
					</div>
				</div>
				<div class="col-md-3 pricing-table-featured col-sm-6">
					<div class="pricing-box">
						<h4>Standard</h4>
						<h2><sup>DT</sup><span>8.2</span></h2>
						<div class="pricicng-feature">
							<ul>
								<li>Message or Video</li>
								<li>from the sensors</li>
								<li>1 advertising</li>
								<li>1Min</li>
							</ul>
						</div>
						<div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Start Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
					</div>
				</div>
				<div class="col-md-3 pricing-table col-sm-6">
					<div class="pricing-box">
						<h4>Pro</h4>
						<h2><sup>DT</sup><span>10.2</span></h2>
						<ul>
							<li>Message or Video</li>
							<li>from the sensors and Preset Time </li>
							<li>2 advertisings</li>
							<li>1Min</li>
						</ul>
						<div class="pricing-box-bottom"> <a href="#" class="btn btn-color btn-circle btn-animate"><span>Start Now <i class="mdi mdi-arrow-right"></i></span></a> </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--=== Pricing End ======-->

{% endblock %}